<%- include('../secciones/header.ejs'); %>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Las Obras de Arte Mas Populares de Nuestra Historia.</h1>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img style="width: 100%;" height="225" src="/img/creacionAdan.jpg" alt="Obra La Creación de Adán">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
            <img height="225" src="/img/nocheEstrellada.jpg" alt="Obra Noche Estrellada">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
            <img height="225" src="/img/guernica.jpg" alt="Obra Guernica">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card shadow-sm">
            <img height="225" src="/img/nacimientoVenus.jpg" alt="Obra El Nacimiento de Venus">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img height="225" src="/img/persistenciaMemoria.jpg" alt="Obra La Persistencia de La Memoria">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img height="225" src="/img/ultimaCena.jpg" alt="Obra La Última Cena">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</main>

      

<%- include('../secciones/footer.ejs'); %>
